header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: hwb(189 9% 36%);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: hwb(199 58% 4%);
}

.logo img {
    max-height: 80px;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-container:hover {
    opacity: 0.5;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px;
}

a:hover {
    color: #2f096b;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 75%;
    padding: 40px;
}

.main_container {
    display: flex;
    background-color: rgb(245, 228, 207);
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}

.element1,
.element2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 150px;
    background-color: #fab477d2;
}

.element3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #fab477d2;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    background-color: #85e185;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    height: 120px;
    padding: 10px;
    margin: 0;
    background-color: #333;
    color: #fff;
}

.footer-section {
    text-align: center;
    line-height: 5px;
    height: 80px;
    width: 20%;
    background-color: #85e185;
}

.social-links {
    display: flex;
    list-style: none;
    padding: 0px;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links li a {
    font-size: 12px;
    color: #cf4c7e;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
}